/* 
background gradient
pink ff5f6f
orange ffc071

text white
f6f5fb

band
fda599

Equals button gradient
dark pink f7398f
light pink fb79a5

black bezzle
top 162840
bottom 080e1a

calculator screen
top 2f4d71
bottom 1a273a

shadow
*/ 
.quote{
    color: whitesmoke;
    margin: 20px

}

.quote h1{
    text-shadow: -2px 2px 5px black;
    font-size: 50px;

}



.author{
    text-shadow: -1px 1px 1px black;
    font-size: 20px;
    font-weight: bold;
    text-align:center;

}

.result{

    text-align: right;
    margin:20px;
    font-size: 72px;
}

.stack{

    text-align: right;
    margin:20px;
    font-size: 20px;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, #ff5f6f, #ffc071);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    
}

.phone
{
    height: 700px;
    width: 350px;
    background: linear-gradient(20deg, #1a273a, #2f4d71);
    
    border: 5px solid #080e1a;
    border-radius: 50px;

    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    box-shadow: -5px 10px 20px #141414c9;


}

.phonetop {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: x-small;

}



.speaker{
    background-color: #1a273a;
    width: 100px;
    height: 8px;
    border-radius: 20px;
    margin: 20px 30px;

}

.display{
    flex: 1;
    color:whitesmoke;
    margin: 20px;


}

.keypad{
    flex: 1;
    display:flex;
    
    padding: 20px;
    margin: 45px 0px;
}

.keypadRow{
    flex: 1;
    display:flex;
   
}

.keypadLeft{
    display:flex;
    flex-direction: column;
    flex: 3;
}

.keypadRight{
    display:flex;
    flex-direction: column;
    flex: 2;
}

.keypadCols{
    display:flex;
    flex:3.15;
}

.keypadCol{
    display: flex;
    flex-direction: column;
    flex: 1;
}


.key{
    flex: 1;
    font-size:xx-large;
    border-radius: 100%;
    margin: 5px;
    background-color: transparent;
    border: 0px;
    color: #f6f5fb;
}

.orange-gradient{
    background: linear-gradient(135deg, #ffc071, #ff5f6f);
}

.pink-gradient{
    background: linear-gradient(135deg, #fb79a5, #f7398f);
}

#equals {
    border-radius: 40px;
    flex: 2 1 0;
}

#plus {
    border-radius: 40px;
    flex: 2.25 1 0;
}